<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <footer>

    <div class="container">
      <div class="policy">
        <ul>
          <li><strong><a href="#">Airbnb</a></strong></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Policies</a></li>
          <li><a href="#">Accessibility</a></li>
        </ul>
      </div>
      <div class="company">
        <ul>
          <li><strong><a href="#">Discover</a></strong></li>
          <li><a href="#">Trust & Safety</a></li>
          <li><a href="#">Travel Credit</a></li>
          <li><a href="#">Airbnb Citizen</a></li>
          <li><a href="#">Airbnbmag</a></li>
        </ul>
      </div>
      <div class="bussiness">
        <ul>
          <li><strong><a href="#">Hosting</a></strong></li>
          <li><a href="#">Responsible Hosting</a></li>
          <li><a href="#">Community Center</a></li>
          <li><a href="#">Host an Experience</a></li>
          <li><a href="#">Open Homes</a></li>
        </ul>
      </div>
      <div class="help">
        <ul>
          <li><strong><a href="#">Need Help?</a></strong></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Neighbourhood Support</a></li>
          <li><a href="#">Customer Service</a></li>
        </ul>
      </div>
      <div class="social_links">
        <ul>
          <li><strong>
              <p>SOCIAL LINKS</p>
            </strong></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>

      </div>
    </div>


  </footer>    
</body>
</html>
