<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
    
    <div class="nav">
      <ul class="nav_bar">
        <li><img src="/images/logo1.png" alt="" class="logo"></li>
        <li><a href="/">Home</a></li>
        <li><a href="/room-listing/list">Room Listing</a></li>
        {{!-- <li><a href="#" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</a>
        </li>
        <li><a href="#" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Register</a>
        </li> --}}
        
        
        {{#if user }}
          <li><a href="/login/out">Logout</a></li>

        {{else}}
          <li><a href="/login/log">Login</a></li>

        
        <li><a href="/signup/sign">Signup</a></li>
        
        {{/if}}
        
        
        
        
      </ul>


     

    </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <img src="/images/logo1.png" alt="" class="logo" style="margin-left:2em">
      <a href="/">Home</a>
      <a href="/room-listing/list">Room Listing</a>
      {{#if user }}
          <a href="/login/out">Logout</a>

        {{else}}
          <a href="/login/log">Login</a>

        
        <a href="/signup/sign">Signup</a>
        
        {{/if}}
    </div>

    <span class="nl" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>





    <div id="id01" class="modal">

      <form class="modal-content animate" name="myForm" onsubmit="return validateForm()" action="/welcome">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" >
      

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw">
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
    </div>

    <div id="id02" class="modal">

      <form class="modal-content animate" action="/welcome">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id02').style.display='none'" class="close"
            title="Close Modal">&times;</span>

        </div>

        <div class="container">
          <p id="signup_links">Sign up with <a href="http://www.facebook.com">Facebook</a> or <a
              href="http://www.gmail.com">Google</a></p>
          <p id="or">or</p>
          <input type="text" placeholder="Email address" name="email" required>

          <input type="text" placeholder="First name" name="first_name" required>

          <input type="text" placeholder="Last name" name="last_name" required>

          <input type="password" placeholder="Create a password" name="password" required>

          <label for="psw"><b>Birthday</b></label>
          <p>To sign up, you need to be at least 18. Other people who use Airbnb won’t see your birthday.</p>
          <input type="date" id="bday">
          <p>We’ll send you marketing promotions, special offers, inspiration, and policy updates via email.</p>
          <button type="submit">Signup</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id02').style.display='none'"
            class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>





  </header>
    
</body>
</html>


