<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
    
    <div class="nav">
      <ul class="nav_bar">
        <li><img src="/images/logo1.png" alt="" class="logo"></li>
        <li><a href="/">Home</a></li>
        <li><a href="/room-listing/list">Room Listing</a></li>
                
        
        {{#if user }}
        <li><a href="/login/brooms">Booked Rooms</a></li>
          <li><a href="/login/out">Logout</a></li>
          

        {{else}}
          <li><a href="/login/log">Login</a></li>

        
        <li><a href="/signup/sign">Signup</a></li>
        
        {{/if}}
        
        
        
        
      </ul>


     

    </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <img src="/images/logo1.png" alt="" class="logo" style="margin-left:2em">
      <a href="/">Home</a>
      <a href="/room-listing/list">Room Listing</a>

      
      {{#if user }}
          <a href="/login/out">Logout</a>

        {{else}}
          <a href="/login/log">Login</a>

        
        <a href="/signup/sign">Signup</a>
        
        {{/if}}
    </div>

    <span class="nl" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>










  </header>
    
</body>
</html>


