<h1>Add Experience</h1>
{{#each messages}}

    <div class="errors">{{this}}</div>

{{/each}}


      <form method="POST" action="/admin/addexp" enctype="multipart/form-data">
       

        <div class="container">
          
          <input type="text" placeholder="Title" name="title">

          <input type="text" placeholder="Place" name="place">

          <input type="text" placeholder="Rating" name="rating">

          <input type="text" placeholder="Number of Views" name="nov">
            
          <p>Upload Room Image:-</p>
          <input type="file" name="expimage" id="expimage">
          
          <button type="submit">Add Experience</button>
          
        </div>

       
      </form>
    
